*.root
*.fzd
*.log
work/paw.metafile
work/LOG
*.pdf
.DS_Store
*.tar.gz
*BUILD_LOG
*.clang-format
*DEBUG
star-cvs/
star-cvs

work/GeometryUtils.C
work/LOG_pythia
work/LOG_z0
work/LOG_zfl0
work/LOG_zfl0_full
work/LOG_zm10
work/LOG_zm10B
work/LOG_zm10_full
work/LOG_zp10
work/LOG_zp10_full
work/c1.ps
work/config/z0.xml
work/config/zfl0.xml
work/config/zfl0_full.xml
work/config/zm10.xml
work/config/zm10_full.xml
work/config/zold.xml
work/config/zp10.xml
work/config/zp10_full.xml
work/dev2021_master.C
work/dev2021_master.gdml
work/test/test-z.sh
work/.vscode/
